@page
@model WebApp.Pages.Models.StartModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
  <style>
    .login,
    .image {
    min-height: 70vh;
}
.bg-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/6e/Las_Dos_Fridas.jpg');
  background-size: cover;
  background-position: center center;
}
  </style>
</head>

<div class="container-fluid">
    <div class="row no-gutter">


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4" style="text-align: right;">My Conference</h3>
                            <p class="text-muted mb-4" style="text-align: right;">Please log in with your email and password</p>
                            <form method="post">
                                <div class="form-group mb-3">
                                    <input asp-for="TextUsername" class="form-control rounded-pill border-0 shadow-sm px-4" placeholder="Username" required=""/>
                                </div>
                                <div class="form-group mb-3">
                                    <input asp-for="TextPassword" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary" placeholder="Password" required=""/>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign in</button>
                            </form>
                        </div>
                    </div>
                </div><!-- End -->
            </div>
        </div><!-- End -->
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>

    </div>
</div>

<!-- Error Toast -->
@if (Model.HasError)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> Wrong credentials
    </div>
}